* {
    margin: 0;
    padding: 0;
}
html, body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}
ul li {
    list-style: none;
}
.rows {
    display:box;
    box-orient:horizontal;
    
    display:-moz-box;
    -moz-box-align:center;
    -moz-box-pack:center;
    -moz-box-orient:horizontal;
    
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    
    display: -ms-box;
    -ms-box-align: center;
    -ms-box-pack: center;
    -ms-box-orient: horizontal;
    width:100%;
}
.col-1 {
    -webkit-box-flex: 1;
    -moz-box-flex:1;
    -ms-box-flex:1;
    box-flex:1;
    width: 1em;
    text-overflow: ellipsis;
    text-align: center;
}
.col-2 {
    -webkit-box-flex: 2;
    -moz-box-flex:2;
    -ms-box-flex:2;
    box-flex:2;
    text-overflow: ellipsis;
    width: 1em;
}
.col-3 {
    -webkit-box-flex: 3;
    -moz-box-flex:3;
    -ms-box-flex:3;
    box-flex:3;
    text-overflow: ellipsis;
    width: 1em;
}
.col-4 {
    -webkit-box-flex: 4;
    -moz-box-flex:4;
    -ms-box-flex:4;
    box-flex:4;
    text-overflow: ellipsis;
    width: 1em;
}
.col-5 {
    -webkit-box-flex: 5;
    -moz-box-flex:5;
    -ms-box-flex:5;
    box-flex:5;
    text-overflow: ellipsis;
    width: 1em;
}
.col-6 {
    -webkit-box-flex: 6;
    -moz-box-flex:6.0;
    -ms-box-flex:6;
    box-flex:6;
    text-overflow: ellipsis;
    width: 1em;
}
.col-7 {
    -webkit-box-flex: 7;
    -moz-box-flex:7;
    -ms-box-flex:7;
    box-flex:7;
    text-overflow: ellipsis;
    width: 1em;
}
.col-8 {
    -webkit-box-flex: 8;
    -moz-box-flex:8;
    -ms-box-flex:8;
    box-flex:8;
    text-overflow: ellipsis;
    width: 1em;
}
.col-9 {
    -webkit-box-flex: 9;
    -moz-box-flex:9;
    -ms-box-flex:9;
    box-flex:9;
    text-overflow: ellipsis;
    width: 1em;
}
.col-10 {
    -webkit-box-flex: 10;
    -moz-box-flex:10;
    -ms-box-flex:10;
    box-flex:10;
    text-overflow: ellipsis;
    width: 1em;
}
.col-11 {
    -webkit-box-flex: 11;
    -moz-box-flex:11;
    box-flex:11;
    -ms-box-flex:11;
    text-overflow: ellipsis;
    width: 1em;
}
.col-12 {
    -webkit-box-flex: 12;
    -moz-box-flex:12;
    box-flex:12;
    -ms-box-flex:12;
    text-overflow: ellipsis;
    width: 1em;
}
.text-center {
    text-align:-moz-center !important;
    text-align: center;
}
.text-right {
    text-align:-moz-right !important;
    text-align: right;
}
.text-left {
    text-align:-moz-left !important;
    text-align: left;
}
.row-ac {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
}
.row-fv {
    height: 100%;
}
.row-fh {
    width: 100%;
}
.border-l-gray {
    border-left: 1px solid rgba(0,0,0,.2);
}
.border-r-gray {
    border-right: 1px solid rgba(0,0,0,.2);
}
.border-t-gray {
    border-top: 1px solid rgba(0,0,0,.2);
}
.border-b-select {
    border-bottom: 1px solid rgba(92,205,213,.8);
    color:rgba(92,205,213,.8);
}
.border-gray {
    border: 1px solid rgba(0,0,0,.2);
}
.border {
    border: 1px solid #5ccdd5;
}
.bc-wh {
    background-color: #fff;
}
.c-gray {
    color: rgba(0,0,0,.2);
}
.c-wh{
    color:#FFFFFF;
}
.next:active {
    background-color: rgba(192,192,192,.1);
}
.item {
    padding: .5em 0 0 1em;
    margin-bottom: .2em
}
.text-of {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.Img {
    height: 2em;
    width: 2.5em;
    background-size: 100% 100%;
}
.shadow {
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.5);
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    font: normal normal normal 14px/1 FontAwesome;
}
.fa-angle-top:before {
    content: "\f106";
    margin-left: 0;
    font-size: 5em;
    color: #fff;
}
.fa-angle-left:before {
    content: "\f104";
    margin-left: 0;
    font-size: 4em;
    color: #fff;
}
.fa-angle-right:before {
    content: "\f105";
    margin-left: 0;
    font-size: 5em;
    color: #fff;
}